@model ServiceItemViewModel
<div class="col-12 px-4 col-md-6 col-lg-4">
    <div class="service-card">
        <div class="service-image-container">
            @if (Model.ImageUrl != null)
            {
                if (Model.ImageUrl.Contains("/"))
                {
                    <img class="service-img-thumbnail" src="@Model.ImageUrl" alt="@Model.Title" />
                }
                else
                {
                    <img class="service-img-thumbnail" src="@Url.Content("~/Assets/Imgs/Services/" + Model.ImageUrl)" alt="@Model.ImageUrl" />
                }
            }
        </div>
        <div class="service-card-content">
            <div>
                @if (Model.Description != null)
                {
                    <span>@Model.Description</span>
                }
            </div>
        </div>
    </div>
</div>
